h1 {
  color: red;
}

.app-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.schedule-display {
border: 1px solid grey;
  justify-content: center;
  display: flex;
  width: 100%;
}
.month-section {

  width: 250px;
}
.month {
  margin: 0px;
  display: flex;
justify-content: center;
background-color: blue;
color: white;
}



.semester-selector {


  margin: 15px;
}
ul {

  list-style-type: none;
}
.person-list{

  display: flex;
  flex-direction: row;
}
.remove-button {

  padding: 1px;
  margin: 5px;
}

.data > *:nth-child(5n+3) {
  background-color: lightgray; 
}
.data {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  padding: 12px;

  align-items: center;
  align-content: center;
}

#logo {
  position: absolute;
  top: 40px;
  left: 150px;
  width: 250px;
  height: 170px;
  margin-right: 20px;
}


.content {
display: flex;
flex-direction: column;
align-items: center;
  margin-top: 100px;
}


table {

  width: 100%;
}

.selectedsemestre{
font-size: 1.4rem;
  padding: 30px;

color: rgb(13, 113, 206);
}