h1 {
  color: red;
}
.selectedyear {
display: flex;
align-items: center;
  background-color: #d2e3f4;
  border-radius: 50%;
  padding: 1%;
}
.last-year-button {
  border-radius: 0% 10% 10% 10%;
  border-radius: 20%;
  background-color: #edf3ca;
  cursor: pointer;
  }

  .last-year-button:hover {
    border-radius: 40% 10% 10% 40%;

    background-color: #edf3ca;
    cursor: pointer;
    }

.next-year-button {
border-radius: 20%;
background-color: #e7f397;
cursor: pointer;
}
.next-year-button:hover {
border-radius: 0% 40% 40% 10%;
  background-color: #f1f3ea;
  
  }
 #conf {

  position: absolute;
  right: 40px;
  top: 15px;
  border-radius: 20%;
  padding: 5px;
 }

 #conf:hover {

background-color: rgb(247, 186, 136);
-webkit-text-stroke: rgb(64, 9, 193) 0.2px;
text-shadow:  1px solid black ;
cursor: pointer;
 }

 #conf:focus {

  background-color: rgb(243, 159, 90);

   }
   #conf:active{

    background-color: rgb(245, 78, 22);
  
     }
 #boutonpersonne   {
position: absolute;
left: 10px;
top: 5px;
 }
 .toggle-button {
  color:black;
  background-color: bisque;
  border-radius: 10%;
   }
 .toggle-button-active {
color: red;
background-color: bisque;
border-radius: 10%;

 }
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schedule-display {

  box-shadow: 2px 4px 4px 1px black;
  display: flex;
  animation: driveIn 1s ease-out;
  transform-origin: center;
  overflow: hidden;
  transition: transform 0.3s ease; 
}

.table_generated {
display: flex;
flex-direction: column;
  width: 250px;
min-height: 590px;
border: 0.5px solid black;

}

.month {
  margin: 0px;
  display: flex;
  justify-content: center;
  background-color: rgb(16, 89, 109);
  color: white;
  font-size: 1.2rem;
  padding: 5px;
  font-weight: bold;

}



ul {
  list-style-type: none;
}

.person-list {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: row;
}

.remove-button {
  padding: 1px;
  margin: 5px;
}

.data > *:nth-child(5n+3) {
 
}

.data {

  display: flex;
  flex-direction: column;
  padding: 5px;
display: flex;
}



#logo {
  position: absolute;
  top: 100px;
  left: 150px;
  width: 250px;
  height: 170px;
  margin-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  
}

table {
  display: flex;


  width: 100%;
  border-collapse: collapse; /* Pour éviter les bordures doubles */

}
tr {
  border-top: 0.5px solid rgb(7, 7, 7);
  border-bottom: 1px solid rgb(7, 7, 7);
  box-shadow: 1px 1px 1px black;
  height: 100px;  
  align-items: center;
  justify-content: center;
}

.bordertr {

  height: 110px; 
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;

}
td {
  width: 100%;


  padding: 8px;
  text-align: center;

}
tbody {  
  width: 100%;
height: 100%;
display: flex;

flex-direction: column;
justify-content: space-between;


}
.selectedsemestre {
  margin-bottom: 10px;
  font-size: 1.4rem;
  padding: 10px; 
   color: rgb(13, 113, 206);
}
.valueSemestre {

  margin-top: 10px;
}

.valueSemestre button  {

  margin: 5px;
 }
.person-input {
  position: absolute;
 left: 300px;
  top: 5px;
  border: 1px solid black;
}

.years button {
 
  right: 100px;
  font-size: 0.8rem;
margin: 5px;
  padding: 5px;
}
.red {
font-weight: bold;
  color: red;
  font-size: 1.2rem;
}
.years  {
  position: absolute;
  display: flex;

  right: 100px;
top: 0px;
margin: 5px;
  padding: 5px;
}
.yearincourse {
  padding: 7px;
border-radius: 20%;
  background-color: antiquewhite;
}
.er {
background-color: #c3dffe;
border-radius: 20%;
padding: 5px;
box-shadow: black 1px 1px 1px;
}

.er:focus {
  background-color: #eef1f4;
  border-radius: 20%;
  padding: 5px;
  }
  .er:hover {
  cursor: pointer;
  background-color: #86bdfb;
  box-shadow: black 0.3px 0.2px 0.1px;
    }
.sd {
  box-shadow: black 1px 1px 1px;
  background-color: #97c2f3;
  border-radius: 20%;
  padding: 5px;
}
.sd:hover {
  cursor: pointer;
  background-color: #86bdfb;
  box-shadow: black 0.3px 0.2px 0.1px;
    }
.sd:focus{
  background-color: #eef1f4;
  border-radius: 20%;
  padding: 5px;
}
.personne {

  font-weight: bold;
  color: rgb(6, 83, 154);
}

.date {


  color: rgb(6, 98, 184);
}
.informations {
position: absolute;
left: 10px;
bottom: 100px;
}
.details {
font-weight: bold;
  display: flex;
  flex-direction:row;
}
.detaila {
  font-weight: bold;
margin-left: 150px;

}

.detailb {
  font-weight: bold;
  margin-left: 150px;

}
.detailc {
  font-weight: bold;
  margin-left: 10px;

}

.highlight {
  background-color: yellow !important;
  font-weight: bold;
}

.highlight-button {
  position: absolute;
  top: 5px;
  right: 650px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 20%;
  box-shadow: black 1px 1px 1px;
}

.highlight-button:hover {
  background-color: #0056b3;
}
.back-to-today-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.back-to-today-button:hover {
  background-color: #0056b3;
}

@keyframes driveIn {
  0% {
    transform: translateX(-100%) rotate(-5deg); /* Hors écran à gauche */
  }
  70% {
    transform: translateX(0) rotate(-5deg); /* Arrive à la position finale */
  }
  80% {
    transform: translateX(0) rotate(0deg); /* Premier mouvement de balancement à gauche */
  }
  90% {
    transform: translateX(0) rotate(1deg); /* Deuxième mouvement de balancement à droite */
  }
  100% {
    transform: translateX(0) rotate(0); /* Arrêt brusque à la position finale avec alignement droit */
  }
}